nav {
  display: flex;
}
.navbar {
  border-bottom: 2px solid #86af49;
}
.logo {
  width: 220px;
}
.green {
  color: #86af49 !important;
}

th {
  color: #86af49 !important;
}
.navbar-menu .is-active {
  font-weight: 700;
}
.navbar-item {
  color: #86af49 !important;
  padding-top: 4px;
  padding-bottom 4px;
}

#particles-js {
  position:fixed;
  top:3.25rem;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}
#pagecontent {
  position: relative;
}
img {
  display:block;
  margin:auto;
}
.g-recaptcha {
  display: flex;
  justify-content: center;
}
.rc-anchor-dark {
  background: #2f2f2f !important;
}
.notification {
  width: 25%;
  align-self: flex-end;
  display: none;
  position: absolute !important;
}
.delete {
  margin: 5px;
}
.notification-center {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 12vh;
  width: 100%;
  padding: 2%;
}
td {
  word-wrap: break-word;
}
@media (max-width: 1000px) {
  .image {
    height: 128px;
    width: 128px;  
  }
  .notification {
    width: 90% !important;
    align-self: center;
  }
  h2 {
    font-size: 1rem !important;
  }
  .notification-center {
    bottom: 80vh;
  }
}

@media (min-width: 1001px) {
  .image {
    height: 256px;
    width: 256px;
  }
}
