<!doctype html>
<html class="has-navbar-fixed-top">
  <head>
    {% block head %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112011733-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112011733-3');
    </script>
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>IPBC Faucet - Free Cryptocurrency</title>
    <meta name="description" content="IPBC is the crypto that powers ipbc.io, the decentralized web broastcasting platform. This faucet gives them for free"/>
    <meta name="keywords" content="Crypto, Bitcoin, IPBC, Faucet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="https://ipbc.io">
          <img src="{{ url_for('static', filename='img/logo.svg') }}">
        </a>
      </div>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <a class="navbar-item" href="/transfers" id="transfer_nav">
            Recent Transfers
          </a>
        </div>
      </div>

    </nav>
    {% endblock %}
    <div id="particles-js"></div>
    <div id="pagecontent">
      {% block content %}{% endblock %}
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
